<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340962493460-m3bj18vfv6rr1i0mh1aa3hj4n3vqmrgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340962493460-m3bj18vfv6rr1i0mh1aa3hj4n3vqmrgt</string>
	<key>API_KEY</key>
	<string>AIzaSyAcx7OdGl5d6-pn_A62sYt8u4IsIRtdoS0</string>
	<key>GCM_SENDER_ID</key>
	<string>340962493460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gilmarjr.LoginMVP</string>
	<key>PROJECT_ID</key>
	<string>loginmvp-5dba8</string>
	<key>STORAGE_BUCKET</key>
	<string>loginmvp-5dba8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340962493460:ios:b25b24815ab56072d71301</string>
</dict>
</plist>